# ignore archives #
###################
**/*.zip

# ignore training images and descriptors and records #
######################################################
**/*.xml
**/*.tfrecord
training-content/**/*.jpg
training-content/training/train
training-content/training/train/*
training-content/images/train_labels.csv
training-content/images/validation_labels.csv
training-content/training/*
training-content/labelmap.pbtxt
training-content/mAP/input/images-optional
training-content/mAP/input/images-optional/*
training-content/mAP/input/ground-truth
training-content/mAP/input/ground-truth/*
training-content/mAP/input/detection-results
training-content/mAP/input/detection-results/*
training-content/mAP/outputs
training-content/mAP/outputs/*
training-content/pipeline.config
training-content/test-video
training-content/test-video/*
training-content/training_edet_v1.4
training-content/training_edet_v1.4/*
training-content/mAP/backup
training-content/mAP/backup/*
training-content/__pycache__
training-content/__pycache__/*
training-content/mAP/outputs*


# specific files/folders #
##########################
.DS_Store
.empty
.venv
src/models/research/object_detection/protos/*
src/models/research/build
src/modles/research/object_detection.egg-info
src/models/research/object_detection.egg-info/*
bazel-build
bazel-build/*
venv-tad
venv-tad/*
.venv-tad
.venv-tad/*
.venv-tf
.venv-tf/*
src/__pycache__/
src/__pycache__/*
src/video_streaming/__pycache__/
src/video_streaming/__pycache__/*
src/mqtt/__pycache__/
src/mqtt/__pycache__/*
src/furbinator/__pycache__
src/furbinator/__pycache__/*
src/console/__pycache__/
src/console/__pycache__/*
src/constants_sensitive.py
docker/ring-mqtt/go2rtc.yaml
docker/ring-mqtt/ring-state.json